.emptyWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout_main_nav {
  width: 240px;
  border-right: 1px solid var(--border-color);
  .active {
    color: red;
  }
  a {
    display: block;
    width: 240px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    text-decoration: none;
    color: initial;
  }
}
