@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfoCard {
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  .editBtn {
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 10;
  }

  .top {
    padding: 12px;
    background: radial-gradient(farthest-side at 60% 55%, #dfeefd, #ddedfd, #daebfe, #d8eafe);

    .avatar {
      transform: translateY(-30%);
      @include flex-center;
    }

    .main {
      @include flex-center;
      flex-direction: column;

      .name {
        font-weight: 600;
        font-size: 24px;
      }

      .bio {
        font-size: 12px;
        color: var(--text-color2);
        @include flex-center;
        margin: 6px 0;
      }
    }
  }
  .otherInfo {
    font-size: 14px;
    padding: 12px;
    &Item {
      display: flex;
      align-items: center;
      padding: 4px 0;
      .label {
        min-width: 30px;
        color: var(--text-color2);
      }
      .info {
        font-weight: 500;
        margin-left: 8px;
      }
    }
  }
}

.logout {
  margin-top: 24px;
  width: 100%;
}

.iconCamera {
    background-color: rgba(0,0,0,.4);
    height: 100%;
    width: 100%;
    @include flex-center;
    color: #FFF;
}