@mixin flex-align-center {
  display: flex;
  align-items: center;
}
.editorWrap {
  height: 100%;
  border: 1px solid var(--border-color);
  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
    &Reverse {
      flex-direction: column-reverse;
    }
    .functionTab {
      padding: 6px 0;
      @include flex-align-center;
      justify-content: space-between;
      :global {
        .semi-button {
          margin: 0 4px;
        }
      }
      .leftBtnWrapper {
        @include flex-align-center;
      }
      .rightBtnWrapper {
        @include flex-align-center;
        justify-content: flex-end;
      }
    }

    .richEditor {
      flex: 1;
      padding: 0 12px 12px 12px;
      outline: none;
      &:empty::before {
        content: attr(data-placeholder);
        color: var(--text-color2);
        pointer-events: none;
      }
      &Reverse {
        padding: 12px;
      }
    }
  }
  .fileList {
    padding: 0 12px;
    .upload {
      :global {
        .semi-upload-add {
          display: none;
        }
      }
    }
  }
}
