.commentListWrapper {
  font-size: 14px;
  .comment {
    cursor: pointer;
    display: flex;
    margin-top: 4px;
    .profile {
      .name {
        color: var(--username-color);
        .reply {
          margin: 0 6px;
          color: initial;
        }
      }
    }
    .main {
      flex: 1;
    }
  }
  .commendCollapse {
    margin-top: 12px;
    .editor {
      background-color: #fff;
    }
  }
  .comment:first-of-type {
    margin-top: 0;
  }
}
.padding {
  padding: 6px;
}
