@mixin flex-align-center {
  display: flex;
  align-items: center;
}

.likeList {
  font-size: 14px;
  margin-top: 12px;
  padding: 6px;
  @include flex-align-center;
  background-color: #f7f7f7;
  .overflowList {
    // flex: 1;
  }

  .overflowBtn {
    padding: 0;
    cursor: pointer;
  }

  .overflowBtn:hover {
    background-color: transparent;
  }

  span {
    margin-left: 6px;
  }
}

.likeItem {
  margin-left: 0;
  color: var(--username-color);
  @include flex-align-center;
  display: inline-flex;
  white-space: nowrap;
}

.likeItem::after {
  content: '，';
}
.likeItem:first-of-type {
  margin-left: 0;
}

.likeItem:last-of-type::after {
  content: none;
}
.overflowWrapper {
  min-width: 200px;
  max-width: 400px;
}
