.ticket {
  font-size: 14px;
  color: var(--text-color2);
  margin-top: 24px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  .time {
    text-align: center;
  }
  .ticketInfo {
    border-radius: 8px;
    border: 1px solid var(--border-color);
    padding: 12px 24px 12px 12px;
    margin-top: 24px;
    .top {
      display: flex;
      align-items: center;
      .userInfo {
        flex: 1;
      }
    }
    .message {
      margin-top: 12px;
      margin-left: 72px;
      span {
        color: initial;
      }
    }
  }
  .customName {
    font-weight: initial;
    .name {
      color: var(--semi-color-primary);
    }
    .tip {
        color: initial;
        margin-left: 6px;
    }
  }
}
