@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userCard {
  padding: 8px 12px;
  @include flex-center;

  .userInfo {
    flex: 1;
    margin-left: 12px;

    .name {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 4px;
      @include flex-center;
    }

    .bio {
      color: var(--text-color2);
    }
  }
}
