.addContact {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .userList {
        flex: 1;
        max-height: 500px;
        overflow: scroll;
        .userItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .tag {
            margin-left: 8px;
        }
    }
}