.contacts {
  height: 100%;
  .spin {
    height: 100%;
    overflow: hidden;
    :global {
      .semi-spin-children {
        height: 100%;
        display: flex;
        overflow: hidden;
      }
    }
  }

  .sider {
    width: var(--sider-width);
    border-right: 1px solid var(--border-color);
    // padding-left: 24px;
    .title {
      padding-left: 12px;
      font-size: 14px;
      margin: 24px 0 16px 0;
      font-weight: 600;
    }
  }

  .main {
    flex: 1;
    overflow: scroll;
  }
}
