.explore {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .sider {
    display: flex;
    flex-direction: column;
  }
  .spin {
    height: 100%;
    :global {
      .semi-spin-children {
        height: 100%;
      }
    }
  }
  .momentListWrapper {
    width: 600px;
    height: 100%;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    .momentList {
      flex: 1;
      padding: 24px 32px;
      overflow: scroll;
    }
    .paginationWrapper {
      margin: 12px 0;
      padding: 0px 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: 12px;
        color: var(--text-color2);
      }
    }
  }
}
