@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconCamera {
  background-color: rgba(0,0,0,.4);
  height: 100%;
  width: 100%;
  @include flex-center;
  color: #fff;
}
